svg {
  width: 100%;
  height: 100%;

  transform: scaleY(-1);

  > .grid {
    stroke: hsl(0 0 30);
    stroke-width: 0.8;
  }

  > .graph {
    > .lines {
      stroke: var(--line-color);

      cursor: crosshair;
    }

    > .dots {
      fill: var(--dot-color);

      > .edit {
        cursor: pointer;
      }
    }

    > .shows {
      stroke: hsl(0 0 80);
      stroke-width: 1;
      stroke-dasharray: 2 2;
    }
  }
}
